doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Department
    body
        table
            tr
                th Department ID
                th Name
            each val in data
                tr
                    td= val.depid
                    td= val.name
