doctype html
//
  A Design by W3layouts
  Author: W3layout
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html
  head
    title OntheBuy
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
      $(".dropdown img.flag").addClass("flagvisibility");
      $(".dropdown dt a").click(function() {
      $(".dropdown dd ul").toggle();
      });
      $(".dropdown dd ul li a").click(function() {
      var text = $(this).html();
      $(".dropdown dt a span").html(text);
      $(".dropdown dd ul").hide();
      $("#result").html("Selected value is: " + getSelectedValue("sample"));
      });
      function getSelectedValue(id) {
      return $("#" + id).find("dt a span.value").html();
      }
      $(document).bind('click', function(e) {
      var $clicked = $(e.target);
      if (! $clicked.parents().hasClass("dropdown"))
      $(".dropdown dd ul").hide();
      });
      $("#flagSwitcher").click(function() {
      $(".dropdown img.flag").toggleClass("flagvisibility");
      });
      });
    // start menu
    link(href='css/megamenu.css', rel='stylesheet', type='text/css', media='all')
    script(type='text/javascript', src='js/megamenu.js')
    script.
      $(document).ready(function(){$(".megamenu").megamenu();});
    // end menu
    // top scrolling
    script(type='text/javascript', src='js/move-top.js')
    script(type='text/javascript', src='js/easing.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
      });
      });
  body
    .header-top
      .wrap
        .logo
<<<<<<< HEAD
          a(href='/')
          //-   img(src='images/logo.png', alt='')
          h1#main-topic On the Bid(style='font-size : 18px')
=======
            img(src='images/logo.png', alt='')
>>>>>>> 3d399657d42f491beae8b5272fcc877837f9910f
        .cssmenu
          ul
            li.active
              if (type == true)
                a(href='/') Home
              else
                a(href='/in') Home
            li
              if (type == true)
                a(href='/shop') Catalog
              else
                a(href='/shop/in') Catalog
            li
              if (type == true)
                a(href='/register') Register
              else
                a(href='/register/in') Register
            li
              if (type == true)
                a(href='/login') Login 
              else
                a(href='/logout') Logout
        .clear
    .header-bottom
      .wrap  

    .index-banner
      .wmuSlider.example1(style='height: 560px;')
        .wmuSliderWrapper
          article(style='position: relative; width: 100%; opacity: 1;')
            .banner-wrap
              .slider-left
                img(src='images/banner1.jpg', alt='')
              .slider-right
                h1 Beats headphones
                h2 Red
                p the Solo2 Wireless
                .btn
                  a(href='/shop') BUY NOW
              .clear
          article(style='position: absolute; width: 100%; opacity: 0;')
            .banner-wrap
              .slider-left
                img(src='images/banner2.jpg', alt='')
              .slider-right
                h1 Puma Classic
                h2 White
                //- p Lorem ipsum dolor sit amet
                .btn
                  a(href='/shop') BUY NOW
              .clear
          article(style='position: absolute; width: 100%; opacity: 0;')
            .banner-wrap
              .slider-left
                img(src='images/banner3.jpg', alt='')
              .slider-right
                h1 iPad mini 4
                //- h2 White
                //- p Lorem ipsum dolor sit amet
                .btn
                  a(href='/shop') BUY NOW
              .clear
          article(style='position: absolute; width: 100%; opacity: 0;')
            .banner-wrap
              .slider-left
                img(src='images/banner4.jpg', alt='')
              .slider-right
                h1 Puma
                h2 White
                //- p Lorem ipsum dolor sit amet
                .btn
                  a(href='/shop') BUY NOW
              .clear
          article(style='position: absolute; width: 100%; opacity: 0;')
            .banner-wrap
              .slider-left
                img(src='images/banner1.jpg', alt='')
              .slider-right
                h1 Puma Classic
                h2 White
                //- p Lorem ipsum dolor sit amet
                .btn
                  a(href='/shop') BUY NOW
              .clear
        a.wmuSliderPrev Previous
        a.wmuSliderNext Next
        ul.wmuSliderPagination
          li
            a(href='#') 0
          li
            a(href='#') 1
          li
            a.wmuActive(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
        a.wmuSliderPrev Previous
        a.wmuSliderNext Next
        ul.wmuSliderPagination
          li
            a.wmuActive(href='#') 0
          li
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
      script(src='js/jquery.wmuSlider.js')
      script(type='text/javascript', src='js/modernizr.custom.min.js')
      script.
        $('.example1').wmuSlider();
    .main
      .wrap
        .content-top
          .lsidebar.span_1_of_c1
            p Lorem ipsum dolor sit amet, consectetuer adipiscing
          .cont.span_2_of_c1
            .social
              ul
                li.facebook
                  a(href='#')
                    span  
                  .radius
                    img(src='images/radius.png')
                    a(href='#')  
                  .border.hide
                    p.num 1.51K
            .social
              ul
                li.twitter
                  a(href='#')
                    span  
                  .radius
                    img(src='images/radius.png')
                  .border.hide
                    p.num 1.51K
            .social
              ul
                li.google
                  a(href='#')
                    span  
                  .radius
                    img(src='images/radius.png')
                  .border.hide
                    p.num 1.51K
            .social
              ul
                li.dot
                  a(href='#')
                    span  
                  .radius
                    img(src='images/radius.png')
                  .border.hide
                    p.num 1.51K
            .clear  
          .clear
        .content-bottom
          .box1
            .col_1_of_3.span_1_of_3
              a(href='/single')
                .view.view-fifth
                  .top_box
                    h3.m_1 PUMA White 
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic.jpg', alt='')
                      .mask
                        .info Quick View
                    .price ฿2,480
                span.rating
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                 (45)
                ul.list
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') BUY NOW 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_3.span_1_of_3
              a(href='/single')
                .view.view-fifth
                  .top_box
                    h3.m_1 Mirrorless Panasonic Lumix DMC-GM1
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic1.jpg', alt='')
                      .mask
                        .info Quick View
                    .price ฿15,000
                span.rating
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                 (45)
                ul.list
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') BUY NOW 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_3.span_1_of_3
              a(href='/single')
                .view.view-fifth
                  .top_box
                    h3.m_1 Bag SWISSGEAR
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic2.jpg', alt='')
                      .mask
                        .info Quick View
                    .price ฿850
                span.rating
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                 (45)
                ul.list
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') BUY NOW 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .clear
          .box1
            .col_1_of_3.span_1_of_3
              a(href='/single')
                .view.view-fifth
                  .top_box
                    h3.m_1 Canon AS-220RTS 
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic3.jpg', alt='')
                      .mask
                        .info Quick View
                    .price ฿390
                span.rating
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                 (45)
                ul.list
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') BUY NOW 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_3.span_1_of_3
              a(href='/single')
                .view.view-fifth
                  .top_box
                    h3.m_1 Canon Pixma MP287 Printer
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic4.jpg', alt='')
                      .mask
                        .info Quick View
                    .price ฿4,290
                span.rating
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                 (45)
                ul.list
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') BUY NOW 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_3.span_1_of_3
              a(href='/single')
                .view.view-fifth
                  .top_box
                    h3.m_1 Sandisk Cruzer Switch USB Flash Drive 8GB
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic5.jpg', alt='')
                      .mask
                        .info Quick View
                    .price ฿99
                span.rating
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                 (45)
                ul.list
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') BUY NOW 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .clear
    .footer
      .copy
        .wrap
          p
            | © All rights reserved | Template by 
            a(href='http://w3layouts.com/')  W3Layouts
    script(type='text/javascript').
      $(document).ready(function() {
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
      $().UItoTop({ easingType: 'easeOutQuart' });
      });
    a#toTop(href='#', style='display: block;')
      span#toTopHover(style='opacity: 1;')
