doctype html
//
  A Design by W3layouts
  Author: W3layout
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html
  head
    title OntheBuy
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/form.css', rel='stylesheet', type='text/css', media='all')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='js/jquery.min.js')
    script(src='js/jquery.easydropdown.js')
    script(type='text/javascript').
      $(document).ready(function() {
      $(".dropdown img.flag").addClass("flagvisibility");
      $(".dropdown dt a").click(function() {
      $(".dropdown dd ul").toggle();
      });
      $(".dropdown dd ul li a").click(function() {
      var text = $(this).html();
      $(".dropdown dt a span").html(text);
      $(".dropdown dd ul").hide();
      $("#result").html("Selected value is: " + getSelectedValue("sample"));
      });
      function getSelectedValue(id) {
      return $("#" + id).find("dt a span.value").html();
      }
      $(document).bind('click', function(e) {
      var $clicked = $(e.target);
      if (! $clicked.parents().hasClass("dropdown"))
      $(".dropdown dd ul").hide();
      });
      $("#flagSwitcher").click(function() {
      $(".dropdown img.flag").toggleClass("flagvisibility");
      });
      });
    // start menu
    link(href='css/megamenu.css', rel='stylesheet', type='text/css', media='all')
    script(type='text/javascript', src='js/megamenu.js')
    script.
      $(document).ready(function(){$(".megamenu").megamenu();});
    // end menu
    script(type='text/javascript', src='js/jquery.jscrollpane.min.js')
    script#sourcecode(type='text/javascript').
      $(function()
      {
      $('.scroll-pane').jScrollPane();
      });
    // top scrolling
    script(type='text/javascript', src='js/move-top.js')
    script(type='text/javascript', src='js/easing.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
      });
      });
  body
    .header-top
      .wrap
        .logo
<<<<<<< HEAD
          //- a(href='/')
          //-   img(src='images/logo.png', alt='')
          h1 On the Buy (style="font-size: 20px")
=======
            img(src='images/logo.png', alt='')
>>>>>>> 3d399657d42f491beae8b5272fcc877837f9910f
        .cssmenu
          ul
            li.active
              if (type == true)
                a(href='/') Home
              else
                a(href='/in') Home
            li
              if (type == true)
                a(href='/shop') Catalog
              else
                a(href='/shop/in') Catalog
            li
              if (type == true)
                a(href='/register') Register
              else
                a(href='/register/in') Register
            li
              if (type == true)
                a(href='/login') Login 
              else
                a(href='/logout') Logout
        .clear
    .header-bottom
      .wrap
        
    .login
      .wrap
        .cont.span_2_of_3
          .box1
            .col_1_of_single1.span_1_of_single1
              a(href='/single')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 STIEBEL DHC6 EC 6000W
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic11.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿3,480
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_single1.span_1_of_single1
              a(href='/single2')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 Racer PROEYE ELITE LED10W
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic10.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿1,280
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_single1.span_1_of_single1
              a(href='/single3')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 LED TV 32" SHARP
                    p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic9.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿5,480
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .clear
          .box1
            .col_1_of_single1.span_1_of_single1
              a(href='/single4')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 /LED TV 49" 
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/picture3.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿7,480
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_single1.span_1_of_single1
              a(href='/single5')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 HANABISHI HEP19 3L
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/picture4.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿480
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_single1.span_1_of_single1
              a(href='/single6')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 HATARI HT-AC10R1 ขาว
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/picture5.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿690
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .clear
          .box1
            .col_1_of_single1.span_1_of_single1
              a(href='/single7')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 HITACHI CV-BM16 RE 1600W
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/picture6.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿540
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_single1.span_1_of_single1
              a(href='/single8')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 Imarflex IF-442 18"
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/picture7.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿1,180
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_single1.span_1_of_single1
              a(href='/single9')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 MD 1138-V CST GS VI 1L
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic8.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿990
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .clear
          .box1
            .col_1_of_single1.span_1_of_single1
              a(href='/single10')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 HAIFAI HE-2550.
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/picture2.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿399
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_single1.span_1_of_single1
              a(href='/single11')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 TOSHIBA IHCE21MXC
                    //- p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/picture1.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price ฿3,480
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .col_1_of_single1.span_1_of_single1
              a(href='/single12')
                .view1.view-fifth1
                  .top_box
                    h3.m_1 Lorem ipsum dolor sit amet
                    p.m_2 Lorem ipsum
                    .grid_img
                      .css3
                        img(src='images/pic.jpg', alt='')
                      .mask1
                        .info Quick View
                    .price £480
                span.rating1
                  input#rating-input-1-5.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-5')
                  input#rating-input-1-4.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-4')
                  input#rating-input-1-3.rating-input(type='radio', name='rating-input-1')
                  label.rating-star1(for='rating-input-1-3')
                  input#rating-input-1-2.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-2')
                  input#rating-input-1-1.rating-input(type='radio', name='rating-input-1')
                  label.rating-star(for='rating-input-1-1')
                  |                       (45)
                ul.list2
                  li
                    img(src='images/plus.png', alt='')
                    ul.icon1.sub-icon1.profile_img
                      li
                        a.active-icon.c1(href='#') Add To Bag 
                        ul.sub-icon1.list
                          li
                            h3 sed diam nonummy
                            a(href='')
                          li
                            p
                              | Lorem ipsum dolor sit amet, consectetuer  
                              a(href='') adipiscing elit, sed diam
                .clear
            .clear
        .clear
    .footer
      .copy
        .wrap
          p
            | © All rights reserved | Template by 
            a(href='http://w3layouts.com/')  W3Layouts
    script(type='text/javascript').
      $(document).ready(function() {
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
      $().UItoTop({ easingType: 'easeOutQuart' });
      });
    a#toTop(href='#', style='display: block;')
      span#toTopHover(style='opacity: 1;')
